:root{
    --myViolet: rgb(182,  28, 202);
    --darkViolet: rgb(99, 10, 110);
    --borde: rgb(26, 71, 119);
    --bordeV: rgb(60, 119, 26);
    --semioscurooscuro: rgb(178, 218, 255);
    /* --ratBG_: "https://m.gjcdn.net/game-thumbnail/500/892479-qdnvsye7-v4.webp" */

    overflow-x: hidden;
    width: 100%;
  }

body{
    background-image: linear-gradient(rgb(26, 26, 26), rgb(8, 8, 8));
    position:relative;
    text-align: center;
    width: 100%;
    margin: 0;
    color: antiquewhite;
    font-family: 'Roboto Semibold', sans-serif;
}

@media (max-width: 768px) {
    .TitleText{
        display: block; 
        color: rgb(255, 255, 255);
        font-family: 'Roboto Black', sans-serif;
        text-shadow: 0px 0px 15px rgb(Black, Black, Black,);
        font-size: 30px;
        padding-bottom: 15px;
    }  
}

.TitleText{
    display: block; 
    padding-top: 150px;
    color: blueviolet;
    font-family: 'Roboto Black', sans-serif;
    text-shadow: 0px 0px 15px rgb(Black, Black, Black,);
    font-size: 30px;
    padding-bottom: 15px;
}

.subTitle{
    padding: 100px;  
    font-size: 20px;
    text-shadow: 0px 0px 10px rgb(Black, Black, Black,);
    display: block;
}

.mineText{
  position: absolute;
  rotate: -20deg;
  transform: translateX(200px) translateY(50px);
  color: yellow;
  animation: mine .5s ease-in-out normal;
  animation-iteration-count: infinite;
}

.mineTextESP{
  position: absolute;
  rotate: -20deg;
  transform: translateX(250px) translateY(60px);
  color: yellow;
  animation: mine .5s ease-in-out normal;
  animation-iteration-count: infinite;
}

.intro{
  background-image: url("img/dev.png");
  background-repeat: no-repeat;
  background-position: 50%;
  height: 700px;
  animation: introBG 5s ease-in-out normal;
  animation-iteration-count: infinite;
}

.separator{
    width: 100%;
    min-height: 5px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 900;
    font-size: 70px;
    color: black;
    display: block;
    margin:0px auto;
    box-shadow: 0px 0px 10px blueviolet;
    background-image: linear-gradient(to left, var(--myViolet), rgb(120, 0, 189));
}

@keyframes mine {
  0%, 100% {
    font-size: 14.5px
  }
  50% {
    font-size: 15px
  }
}


@keyframes roticon {
  0%, 100% {
    rotate: 0;
  }
  10% {
    rotate: 20deg;
  }
  50% {
    rotate: -20deg;
  }
}

@keyframes introBG {
  0%, 100% {
    background-size: 40%;
  }
  50% {
    background-size: 38%;
  }
}

@keyframes move-words {
    0%, 100% {
      bottom: 10px;
    }
    50% {
      bottom: 0px;
    }
  }

.move {
    position: relative;
    animation: move-words 2s ease-in-out infinite;
    margin: 0;
  }

.RatBG{
    width: 100%;
    height: 800px;
    display: relative;
    position: relative;
    margin:0px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:     cover; 
    background-image: url("img/ratBG.png");
}

.LogoBG{
    display: flex;
    float: left;
    max-width: 514px;
    padding-top: 250px;
    padding-left: 100px;
}

.LogoBGR{
    float: right;
    max-width: 514px;
    padding-top: 250px;
    padding-right: 100px;
    flex: 1;
}

.BGText{
    display: block;
    font-size: 30px;
    padding-top: 340px;
    padding-left: 50px;
    width: 50%;
}

.BGTextR{
    display: block;
    float: right;
    font-size: 30px;
    padding-top: 340px;
    padding-right: 50px;
    width: 50%;
}
@media (max-width: 1244px) {
    .BGTextR{
        padding-right: 0px;
    }
}
@media (max-width: 1236px) {
    .BGTextR{
        padding-right: 0px;
        padding-top: 0px;
    }
}
@media (max-width: 768px) {
    .RatBG{
        height: 700px;
    }
    .LogoBG{
        max-width: 174px;
        padding-top: 100px;
        float: right;
        display: initial;
        max-width: 100%;
    }

    .LogoBGR{
        max-width: 100%;
        padding-top: 100px;
        padding-right: 0px;
        float: right;
        display: block;
    }

    .BGText{
        float: none;
        display:block;
        font-size: 20px;
        padding-top: 50px;
        margin-top: 50px;
        display: initial;
    }

    .BGTextR{
        float: none;
        display:block;
        font-size: 20px;
        padding-top: 50px;
        margin-top: 150px;
        display: initial;
    }
}

.gameItch{
    align-items: center;
}

header{
  text-align: left;
}

.name{
  width: 15%;
  margin: 0.5%;
  padding-left: 2%;
}

.lilguys{
  height: 60px;
  transform: translateY(3.95px);
}

.flag{
  width: 40px;
  margin: 0.7%;
  position:absolute;
  right: 20px;
  top: 5px;
}

.footerflag{
  width: 40px;
  
  position: relative;
}

.other{
    min-height: 400px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(26, 37, 43));
    background-attachment: fixed;
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 50px 50px
}

.art{
    min-height: 400px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(21, 36, 8), rgb(41, 75, 9));
    background-attachment: fixed;
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 50px 50px
}

footer{
    margin-top: 120px;
    min-height: 200px;
    margin-bottom: 80px;
    fill: var(--myViolet)
}

.list-container {
    display: flex; 
    gap: 50px; 
    flex-wrap: wrap; 
  }
  
  .list-item {
    max-width: 580px; 
    text-align: center; 
  }
  
  .list-item img {
    display: block; 
    height: 325px; 
    max-width: 100%; 
    object-fit: cover;
    border: 3px solid var(--borde);
    box-shadow: 0px 0px 10px var(--borde);
    border-radius: 5%;
  }
  .list-item-art {
    max-width: 400px; 
    text-align: center; 
  }
  .list-item-art img{
    display: block; 
    height: 325px; 
    max-width: 100%; 
    object-fit: cover;
    border: 3px solid var(--bordeV);
    box-shadow: 0px 0px 10px var(--bordeV);
    border-radius: 5%;
  }
  
  .list-item p {
    margin-top: 5px; 
  }

.mailContain{
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: row;
    gap: 10px; 
    text-shadow: 0px 0px 15px rgb(143, 0, 179);

}
@media (max-width: 780px) {
    .container {
      flex-direction: column; 
      align-items: center; 
    }
  }
.mail{
    margin: 0;
    color: var(--myViolet);
    display: flex;
    overflow: hidden;
}
  

a {
    color: var(--myViolet);
    fill: var(--myViolet);
    transition: .4s;
  }

a:hover{
    fill: rgb(114, 9, 128);
    color: rgb(114, 9, 128);
    transition: .4s;
}

.gameLink{
    fill: antiquewhite;
    transition: .4s;
    position: relative;
    margin: 0;
}

.gameLink:hover{
    fill: rgb(133, 133, 133);
    transition: .4s;
    animation: roticon 0.5s ease-in-out normal;
}

.end{
    color: rgb(114, 113, 110);
}





/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgb(182, 28, 202)
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(155, 20, 173)
  }